/* Defaults */
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #212121;
  color: #F3F2EC;
  line-height: 1.6;
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #0F0E0E;
  top: 0;
}

.socials img {
  transition: 0.3s ease;
}

.socials img:hover {
  filter: drop-shadow(0 0 10px #FF9A00);
}

.navbar .logo{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2rem;
  font-family: "Space Mono", monospace, serif;
}

.navbar .socials a{
  margin-left: 1rem;
  text-decoration: none;
  color: #F3F2EC;
  padding-right: 2rem;
}

.navbar .socials img{
  height: 32px;
  width: auto;
}

.navbar .socials a:hover{
  color: #FF9A00;
}

/* Intro */
.intro{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.intro h1 span{
  color: #FF6961; 
}

.intro-text{
  max-width: 1600px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: left;
  font-family: "Space Mono", monospace, serif;
}

.intro-text p a{
  color: #FF9A00;
  text-decoration: none;
}

.intro-text p a:hover{
  color: #FF6961;
}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: 12px;
  padding: 30px;
  text-decoration: none;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px #FF9A00;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

