*{
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body{
  color: #F6F1E9;
  background: #212121;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #0F0E0E;
  color: #F6F1E9;
  width: 100%;
  padding: 1rem 2rem;
}

main nav .socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding-right: 2rem;
}

main nav .logo{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: bold;
  font-family: "Space Mono", monospace, serif;
  padding-left: 2rem;
}

main nav .socials a img{
  width: 24px;
  height: auto;
}
